<div class="container">
  <div class="row">
    <div class="card text-dark shadow mb-3">
      <div class="text-center mx-auto p-3">
        <h2><a href="/blogPost/{{id}}">{{title}}</a></h2>
        <p>Author: {{user.name}}</p>
        <p>Date: {{format_date date_created}}</p>
        <p>{{description}}</p>
        <button
          class="btn btn-secondary"
          id="editBtn"
          data-id="{{id}}"
        >Edit Post</button>
        <button
          class="btn btn-danger"
          id="deleteBtn"
          data-id="{{id}}"
        >Delete Post</button>
      </div>
    </div>
  </div>
</div>
